:root {
   --bg: #000;
   --grey: #2d2e2e;
  --btn-blue: #3891a6;
  --accent: #23ce6b;
  --text-white: #fbfbfb;
  --toastify-color-dark: #000;
  --toastify-color-progress-dark: #3891a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
