:root {
  --bg: #000;
  --grey: #2d2e2e;
  --btn-blue: #3891a6;
  --accent: #23ce6b;
  --text-white: #fff;
}

.navBar {
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black !important;

  font-size: 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
}
.navBar,
.eNavBar {
  background-color: transparent;
}


.navMenu {
  color: white;

  display: flex;
  justify-content: space-between !important;
  align-items: space-around;

  width: 90%;

}

.logout {
  display: flex;
  align-items: center;
  height: 100%;
  outline: none;
}

.moneyBtn {
  background-color: transparent;
  color: var(--text-white);

  border-radius: 10px;

  font-weight: bold;
  font-size: 1rem;

  width: 80px;
  height: 35px;

  text-align: center;
  text-decoration: none;

  display: inline-block;
  cursor: pointer;
  outline: none;
}

.moneyBtn {
  border: 1px solid var(--text-white) !important;
}

.moneyBtn:hover {
  transition: 0.5s;
  background-color: var(--text-white);
  color: black;
}
