.gameContainer {
  display: flex;
  height: 100vh;
  width: 100%;

  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../images/blackingbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;

  z-index: 100 !important;
}

.selectionArea {
    min-width: 15%;
    background: transparent !important;
    border-right: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border-top: 1px solid white !important; */
    text-align: center;
}

.selectionArea h1 {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
}

.selectionArea button {
  margin: 1rem auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: black;
}

.selectionArea button:hover {
  transition: 0.5s;
  background: black;
  color: white;
  cursor: pointer;
}

.playArea {
    width: 85%;
    background: transparent !important;
    color: white;
    display: flex;
    justify-content: center !important;

}

.playArea h1 {
  font-size: 1.4rem;
  font-weight: 400;
}